/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/
/* List view */
.list-view .content {
  display: flex;
}

.list-view .failed {
  background: yellow;
  color: blue;
}

.list-view .contact-grid {
  flex: 2;

}

.list-view .contact-form {
  flex: 2;
  padding: var(--lumo-space-m);
}

.list-view .answer-form {
  flex: 1;
  padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
  .list-view.editing .toolbar,
  .list-view.editing .contact-grid {
    display: none;
  }
}

/* Main layout */
a[highlight] {
  font-weight: bold;
  text-decoration: underline;
}
.header {
  padding: 0 var(--lumo-space-m);
}
.header h1.logo {
  font-size: 1em;
  margin: var(--lumo-space-m);
}

/* Dashboard view */
.dashboard-view .contact-stats {
  font-size: 4em;
  margin: 1em 0;
}

.line-error {
  color: red;
  background-color: red;
}

[part~="cell"].subscriber {
  color: green;
  font-weight: bold;
}
[part~="cell"].minor {
  color: red;
  font-weight: bold;
}
[part~="cell"].minor-middle {
  color: coral;
  font-weight: bold;
}
[part~="cell"].minor-copyowner {
  color: #d3b342;
  font-weight: bold;
}

.tooltip {
  /*display: inline-block; /* Строчно-блочный элемент */
  position: relative; /* Относительное позиционирование */
}
.tooltip:hover::after {
  content: attr(data-title); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  left: 55%; top: 55%; /* Положение подсказки */
  z-index: 1; /* Отображаем подсказку поверх других элементов */
  background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
  font-family: Arial, sans-serif; /* Гарнитура шрифта */
  font-size: 14px; /* Размер текста подсказки */
  padding: 5px 10px; /* Поля */
  border: 1px solid #333; /* Параметры рамки */
}
:host(.CompareMultipleSeries) .highcharts-color-0 {
  stroke: #3090F0;
  stroke-width: 2px;
}

:host(.CompareMultipleSeries) .highcharts-color-1 {
  stroke: #ec6464;
  stroke-width: 2px;
}

:host(.CompareMultipleSeries) .highcharts-color-2 {
  stroke: #98df58;
  stroke-width: 2px;
}

:host(.CompareMultipleSeries) .highcharts-plot-lines-0 .highcharts-plot-line {
  stroke: #c0c0c0;
  stroke-width: 2px;
}